name: Git CTF Level 1 Validator

on: [push]

jobs:
  validate:
    runs-on: ubuntu-latest
    timeout-minutes: 1
    steps:
      - uses: actions/checkout@v3
      - run: chmod +x validate.sh
      - run: ./validate.sh
